.menu{
  background-color: #fff;
  background-image: url("../images/background_menu.svg");
  background-size: contain;        /* makes it fill the section */
  background-position: center;   /* centers the image */
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;

  }
.menu__title{

    margin-top: 100px;
    max-width: 700px;
    text-align: center;
    font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;

  }
.menu__subtitle{
   max-width: 780px;
     text-align: center;
    margin-top: 24px;
    margin-bottom: 100px;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px
  }

.menu__cards{

   margin-top: 100px;
   margin-bottom: 100px;
   gap: 100px;
   padding: 0px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.card{
  width: 540px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.card__title{
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 32px;
}
.card__list{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  gap: 16px;
}


.card__list-item{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.card__list-divider{
  flex-grow: 1;                    /* <-- this makes it fill the space between */
  border-bottom: 1px solid black;

}

